<!doctype html>
<html>
<head>
    <title>Social Authenticator</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body         { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-home"></span> Profile</h1>
        <a href="/compose" class="btn btn-default btn-sm">
            <i class="fa fa-pencil-square-o"></i>&nbsp;&nbsp;&nbsp;Compose
        </a>
        <a href="/timeline" class="btn btn-default btn-sm">Timeline</a>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a><br><br>
    </div>

    <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span> Social Authenticator</h1>

        <p>Login or Register with:</p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
        <!--<a href="/auth/linkedin" class="btn btn-primary"><span class="fa fa-linkedin"></span> LinkedIn</a>-->
        <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
        <a href="/auth/twitter" class="btn btn-info"><span class="fa fa-twitter"></span> Twitter</a>
        <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google+</a>
    </div>

</div>
</body>
</html>
